:global(*) {
  box-sizing: border-box;
}

:global(html),
:global(body),
:global(#root) {
  width: 100%;
  min-width: 0;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}